<ion-view view-title="Get Started!!">
        <ion-content>
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Username</span>
              <input type="text" ng-model="username">
            </label>
            <label class="item item-input">
              <span class="input-label">Password</span>
              <input type="password" ng-model="password">
            </label>
            <label class="item item-input">
              <span class="input-label">Email</span>
              <input type="text" ng-model="email">
            </label>
            <label class="item item-input">
              <span class="input-label">Phone</span>
              <input type="text" ng-model="phone">
            </label>
          </div>
          <div class="padding">
            <button class="button button-block button-positive" ng-click="register(username,password,email,phone)">
              Create Account
            </button>
            <p > {{msg}}</p>
            <p>
            Return to <a href="#/sign-in">Sign-In</a>.
          </p>
          </div>
        </ion-content>
      </ion-view>