<ion-view view-title="change password">
        <ion-content padding="true">
          <div class="list">
            <label class="item item-input">
              <span class="input-label">Enter your Email ID</span>
              <input type="text" ng-model="email">
            </label>
            <label class="item item-input">
              <span class="input-label">Enter your old password</span>
              <input type="password" ng-model="pwdold">
            </label>
            <label class="item item-input">
              <span class="input-label">Enter your new password</span>
              <input type="password" ng-model="pwdnew">
            </label>
	  </div>
          <div class="padding">
            <button class="button button-block button-positive" ng-click="changePassword(email,pwdold,pwdnew)">
              Submit
            </button>
            <p>{{displayMsg}} </p>
          <p>
            Return to <a href="#/sign-in">Sign-In</a>.
          </p>
        </ion-content>
      </ion-view>